# 🔴 Ignore backup (VERY IMPORTANT)
backup/

# 🔴 Ignore virtual environment
venv/

# 🔴 Python cache
__pycache__/
*.pyc

# 🔴 Large ML model files
*.onnx
*.pth
*.h5
*.pt

# 🔴 Temporary / logs
*.log

# 🔴 System files
.DS_Store

# 🔴 Jupyter
# Models
*.pkl
*.onnx
*.bin

# Data
*.csv
*.xlsx

# Large folders
user_input/
datasets/

# Python
__pycache__/
*.pyc
