# 🔴 Ignore backup (VERY IMPORTANT)
backup/

# 🔴 Ignore virtual environment
venv/

# 🔴 Python cache
__pycache__/
*.pyc

# 🔴 Large ML model files
*.onnx
*.pth
*.h5
*.pt

# 🔴 Temporary / logs
*.log

# 🔴 System files
.DS_Store

# 🔴 Jupyter
